<div class="container">
    <div class="row">
        <div class="main_work">
            <div style="text-align:center" class="col-md-5  col-sm-12 col-xs-12">
                <h1>Locations</h1>
            </div>

            <div class="col-md-7  col-sm-12 col-xs-12">
                <div class="work_item">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                            <div class="work_item_img">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2226.379238333318!2d12.702132715943312!3d56.08135408064248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465232094e53815d%3A0x8eb2ecbcd16f3d4c!2sLadugatan%2C+254+48+Helsingborg!5e0!3m2!1ssv!2sse!4v1510432505419" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                            <div class="work_item_details m-top-80 sm-m-top-20">
                                <h4>Kyrkan</h4>
                                <div class="work_separator1"></div>
                                <p class="m-top-40 sm-m-top-10">Ladugatan 77 25448 Helsingborg Sweden</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off work-item -->
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="work_item">
                    <div class="row">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="work_item_img sm-text-center sm-m-top-40">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2226.379238333318!2d12.702132715943312!3d56.08135408064248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465232094e53815d%3A0x8eb2ecbcd16f3d4c!2sLadugatan%2C+254+48+Helsingborg!5e0!3m2!1ssv!2sse!4v1510432505419" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                            <div class="work_item_details m-top-80 sm-m-top-20">
                                <h4>Festlokal</h4>
                                <div class="work_separator2"></div>
                                <p class="m-top-40 sm-m-top-10">Ladugatan 77 25448 Helsingborg Sweden</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off work-item -->


        </div>
    </div>
</div>