   <!--About Sections-->
<section id="feature" class="ab_feature roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_ab_feature">
                <div class="col-md-6">
                    <!-- Head Title -->
                    <div class="head_title">
                        <h2>Our Lovestory</h2>
                        <h5>
                            <em>
                                Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                legere me lius quod ii legunt saepius.
                            </em>
                        </h5>
                        <div class="separator_left"></div>
                    </div><!-- End off Head Title -->
                    <div class="ab_feature_content wow fadeIn m-top-40">
                        <p>
                            Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                            legere me lius quod ii legunt saepius. Duis autem vel eum iriure dolor in hendrerit vulputate
                            velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                            accumsan et iusto odio dignissim qui blandit praesent luptatum
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                            vel illum dolore feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ab_feature_photo wow fadeIn sm-m-top-40">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item sm-m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item sm-m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item sm-m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="ab_feature_item m-top-20">
                                    <img src="~/assets/napoleon/148_148.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>
