<div style="margin-bottom:40px" class="col-md-3 col-sm-6 col-xs-12">
    <p><b>Olle Svensson</b></p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
           Ej svarat
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Kommer</a></li>
            <li><a href="#">Kommer inte</a></li>

        </ul>
    </div>

    <div class="input-group">
        <input style="border-bottom:1px solid white" type="text" class="form-control" placeholder="Song">
        <input style="border-bottom:1px solid white" type="text" class="form-control" placeholder="Allergi">
    </div>
</div>
