<div class="col-md-7 col-sm-12 col-xs-12">
    <div class="work_item">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="work_item_img sm-text-center sm-m-top-40">
                    <img src="~/assets/images/work-img2.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                <div class="work_item_details m-top-80 sm-m-top-20">
                    <h4>Fashionista</h4>
                    <div class="work_separator2"></div>
                    <p class="m-top-40 sm-m-top-10">Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- End off work-item -->